* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: burlywood;
  color: white;
  font-family: LATO, sans-serif;
  margin-top: 40px;
}

h1 {
  color: #1b1b32;
  font-size: 25px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  margin: 20px 0;
}

.tasks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.list-tasks-main {
  width: 600px;
  min-height: 500px;
  background-color: gray;
  padding: 25px;
  margin: 50px;
  justify-content: center;
  border-radius: 26px;
}
